.header-menu {
    display: flex;

    box-sizing: border-box;

    justify-content: flex-end;

    &__tab {
        display: inline-block;

        box-sizing: border-box;

        height: 60px;

        padding: 21px 20px;

        line-height: 18px;
    }

    &__tab:hover {
        background: #fff;
    }

    &__action {
        background: red;
    }
}
