.heading {
    font-weight: normal;

    margin: 0 0 16px;

    &_level {
        &_1 {
            font-size: 36px;
            line-height: 1.2;
        }

        &_2 {
            font-size: 24px;
            line-height: 1.2;
        }

        &_3 {
            font-size: 18px;

            margin-top: -2px;
        }
    }
}
