.header {
    height: 60px;

    background: #000;

    box-sizing: border-box;

    &__logo {
        line-height: 60px;
    }

    &__column {
        width: 50%;
        height: 100%;

        box-sizing: border-box;
    }
}
