.procs {
    width: 100%;

    background: #ccc;

    font-size: 12px;

    padding: 0;

    color: #000;

    &__item {
        display: inline-block;

        margin: 15px 30px;

        text-align: center;
    }

    &__image {
        width: 140px;
        height: 140px;
    }
}
