.footer {
    width: 100%;
    height: 80px;

    background: #000;

    font-size: 12px;

    padding: 0;

    box-sizing: border-box;

    color: #ccc;

    &__column {
        margin: 15px 30px 15px 0;

        width: calc(100% / 3);
    }
}
